{% extends "dashboard-base.html" %}

{% block content %}

<div class="container-lg">
    <div class="row justify-content-center mt-4">
      <div class="col">
        <form method="POST" class="edit" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="text-center mb-4">
            <h1 class="justify-content-center mb-4">DELETE SKILLS</h1>
            <h3 class="text-white mb-4">Click on a skill-icon to delete</h3>
            <h4 class="text-white mb-4">WARNING: By clicking 'Delete' you will permanently remove the skill and its content</h4>
          </div>
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="bg-grey">
                <div class="form-group mb-4"">
                  {{ skills_form.name.label_tag }}
                  {{ skills_form.name }}
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </div>
                <div class="text-center mt-3">
                  <a href="{% url 'dashboard' %}" class="btn btn-warning">Back</a>
                </div>      
              </div>
            </div>
            <div class="col-md-8 mb-4">
              <div class="bg-dark">
                {% include 'components/skills/admin-delete-skills.html' %}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>

{% endblock %}
